<a href="https://colab.research.google.com/github/choccatadev/DataScienceNotebook/blob/main/Data_Science_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Notebook

## Introduction
This notebook covers fundamental concepts of data science, including languages, libraries, and tools used in the field. It also demonstrates some basic arithmetic operations.

## Data Science Languages
Here is a list of popular programming languages used in data science:
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
Some of the commonly used data science libraries include:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Tool          | Purpose                      |
|---------------|------------------------------|
| Jupyter       | Development environment       |
| RStudio       | Integrated development environment for R |
| Apache Spark  | Big data processing framework |
| TensorFlow    | Machine learning framework    |
| Tableau       | Data visualization tool       |

## Arithmetic Expressions
Below are examples of basic arithmetic operations, such as addition and multiplication.

In [1]:
# Multiplication and addition
a = 5 * 3
b = a + 10
b

25

In [2]:
# Conversion from minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Objectives
The objectives of this notebook are:
- List common data science languages.
- Identify popular data science libraries.
- Explore basic arithmetic operations in code.
- Convert units using Python code.

## Author
This notebook was created by Cesar Choccata.